<div class="row">
    <div class="col">
        <div class="footerTitle">¿Necesitas ayuda?</div>
        <ul id="Ayuda">
            <li>123456789</li>
            <li><a href="mailto:">travel@geekstravels.com</a></li>
        </ul>
    </div>
    <div class="col">
        <div class="row">
            <div class="footerTitle col">Información</div>
        </div>
        <div class="row">
            <div class="col">
                <ul class="linksAyuda">
                    <li><a href="">Quienes somos</a></li>
                    <li><a href="">Preguntas frecuentes</a></li>
                    <li><a href="">Política de privacidad</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="linksAyuda">
                    <li><a href="">Condiciones generales</a></li>
                    <li><a href="">Aviso legal</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="footerTitle">Suscríbete a la newsletter</div>
        <form action="">
            <input type="email" placeholder="email" id="sendEmail">
            <br>
            <button class="btn btn-outline-light">Enviar</button>
        </form>
    </div>
</div>
<div id="footerRow" class="row">
    <hr>
    <div class="col">
        <div  id="redesSociales">
            <ul>
                <li class="nav-item">
                    <div id="tw"><a href=""></a></div>
                </li>
                <li class="nav-item">
                    <div id="wp"><a href=""></a></div>
                </li>
                <li class="nav-item">
                    <div id="fb"><a href=""></a></div>
                </li>
                <li class="nav-item">
                    <div id="ig"><a href=""></a></div>
                </li>
                <li class="nav-item">
                    <div id="lk"><a href=""></a></div>
                </li>
                <li class="nav-item">
                    <div id="yt"><a href=""></a></div>
                </li>
            </ul>
        </div>
    </div>
</div>