<nav class="navbar" id="fullNav">
    <a class="navbar-brand col" href="/">
        <div class="row">
            <div class="col" id="logoImagen"></div>
            <div class="col" id="logoTexto">GeeksHubs Travels</div>
        </div>
    </a>
    <div class="nav-item col-6 text-center" id="navbarList">
        <div class="row" id="anchorLinks">
            <div class="col">
                <div class="anchorwrapper">
                    <a class="nav-link" href="#destinos" id="anchor1">Destinos</a>
                </div>
            </div>
            <div class="col">
                <div class="anchorwrapper">
                    <a class="nav-link" href="#nosotros" id="anchor2">Quiénes somos</a>
                </div>
            </div>
            <div class="col">
                <div class="anchorwrapper">
                    <a class="nav-link" href="#mapa" id="anchor3">Dónde estamos</a>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a class="nav-link text-right" href="/register">Sign up</a>
                    </div>
                    <div class="col">
                        <a class="nav-link text-left" href="/login"">Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>