<nav class="navbar" id="fullNav">
    <a class="navbar-brand col-2" href="/">
        <div class="row">
            <div class="col" id="logoImagen"></div>
            <div class="col" id="logoTexto">GeeksHubs Travels</div>
        </div>
    </a>
    <div class="nav-item text-center" id="navbarList">
        <div class="row" id="anchorLinks">
            {{#if isAdmin}}
                <div class="col">
                    <div class="dropdown">
                        <div class="dropbtn">
                           <a class="nav-link">Admin</a>
                        </div>
                        <div class="dropdown-content">
                            <a class="nav-link" href="http://localhost:8080/admins/panelDestinos">Destination Panel</a>
                            <a class="nav-link" href="http://localhost:8080/admins/panelUsuarios">User Panel</a>
                        </div>
                    </div>
                </div>
            {{/if}}
            <div class="col">
                <div class="anchorwrapper">
                    <a class="nav-link" href="#destinos" id="anchor1">Destinos</a>
                </div>
            </div>
            <div class="col">
                <div class="anchorwrapper">
                    <a class="nav-link" href="#nosotros" id="anchor2">Quiénes somos</a>
                </div>
            </div>
            <div class="col">
                <div class="anchorwrapper">
                    <a class="nav-link" href="#mapa" id="anchor3">Dónde estamos</a>
                </div>
            </div>

            {{#unless user}}
                <div class="col">
                            <a class="nav-link text-right" href="/register">Sign up</a>
                </div>
                <div class="col">
                    <a class="nav-link text-left" href="/login">Log in</a>
                </div>
            {{/unless}}
        </div>
    </div>
</nav>