<link rel='stylesheet' href='/stylesheets/signup.css'/>
<form action="" id="signUp">
    <div id="registerCard" class="container-fluid">
        <h1>Regístrate</h1>
        <p>Rellena los campos para crearte una cuenta</p>
        <div id="hr"><hr></div>

        <label for="username"><b>Nombre de usuario</b></label>
        <input type="text" placeholder="Usuario" name="username" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="ejemplo@ejemplo.com" name="email" required>

        <label for="psw"><b>Contraseña</b></label>
        <input type="password" placeholder="Introducir contraseña" name="psw" required>

        <label for="psw-repeat"><b>Repetir contraseña</b></label>
        <input type="password" placeholder="Reintroducir contraseña" name="psw-repeat" required>

        <label>
            <input type="checkbox" checked="checked" name="rememberMe" style="margin-bottom:15px"> Remember me
        </label>

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <div class="row">
                <button type="button" class="cancelbtn col">Cancel</button>
                <button type="submit" class="signupbtn col">Sign Up</button>
            </div>
        </div>
    </div>
</form>