<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>GeeksHubs Travels</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/public/stylesheets/mainStyle.css' />
    <link rel='stylesheet' href='/public/stylesheets/destino.css' />
</head>
<body>
    <section id="navigationbar">
        {{> navbar}}
    </section>
    <section id="inicio" class="parallax--bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-11" id="nombreDestino">
                        <p> {{ciudad}} </p>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col" id="colCarousel">
                    <div id="destinoCarousel" class="carousel slide" data-ride="carousel">
                        <!--Indicadores-->
                        <ul class="carousel-indicators">
                            <li data-target="#destinoCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#destinoCarousel" data-slide-to="1" ></li>
                            <li data-target="#destinoCarousel" data-slide-to="2" ></li>
                        </ul>
                        <!--slideshow-->
                        <div class="carousel-inner">
                            <div class="carousel-item active" id="destinoBG" style="background-image: url('/images/destinos/{{ciudad}}1.jpg')">
                            </div>
                            <div class="carousel-item" id="destinoBG" style="background-image: url('/images/destinos/{{ciudad}}2.jpg')">
                            </div>
                            <div class="carousel-item" id="destinoBG" style="background-image: url('/images/destinos/{{ciudad}}3.jpg')">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="descripcionSitio">
                        <p>sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                            sample text sample text sample text sample text sample text sample text
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        {{> footer}}
    </footer>


    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/javascripts/main.js"></script>
</body>
</html>
