<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>GeeksHubs Travels</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/mainStyle.css' />
    <link rel='stylesheet' href='/stylesheets/error404.css' />
</head>
<body>
<section id="inicio" class="parallax--bg">
    <div class="container-fluid">
        <div class="row">
            <div class="error404 col text-center" id="status">
                {{error.status}}
            </div>
        </div>
        <div class="row">
            <div class="error404 col text-center" id="message">
                {{error.message}}
            </div>
        </div>
        <div class="row">
            <div class="takeMeBack col text-center" id="btnBack">
                <button type="button" onclick="relocateHome()" class="btn btn-primary btn-lg">Volver a Inicio</button>
            </div>
        </div>
    </div>
</section>
<footer>
    {{> footer}}
</footer>
<script src="../javascripts/parallaxInicio.js"></script>
<script src="../javascripts/main.js"></script>
</body>
</html>