<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>GeeksHubs Travels</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/mainStyle.css' />
</head>
<body>
<section id="navigationbar">
    {{> navbar}}
</section>
    <section id="inicio" class="parallax--bg">
        <div id="gridprincipal" class="container-fluid">
            <link rel='stylesheet' href='/stylesheets/signup.css'/>
            <form name="form" id="logIn" method="post">
                <div id="registerCard" class="container-fluid">
                    <h1>Accede con tu cuenta</h1>
                    <div id="hr"><hr></div>

                    <label for="username"><b>Nombre de usuario</b></label>
                    <input type="text" placeholder="UserN" name="username" id="saveUsername"required>

                    <label for="password"><b>Contraseña</b></label>
                    <input type="password" placeholder="Introducir contraseña" name="password" required>

                    <label>
                        <input type="checkbox" checked="checked" name="rememberMe" style="margin-bottom:15px"> Remember me
                    </label>
                    <div class="clearfix">
                        <div class="row">
                            <a href="#"><p>Olvidé mi contraseña</p></a>
                            <button type="submit" class="signupbtn col">Log in</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <footer>
       {{>  footer}}
    </footer>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../javascripts/main.js"></script>
</body>
</html>