<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/stylesheets/error404.css">

    <link rel="stylesheet" href="/public/stylesheets/estilos.css">
    <link rel="stylesheet" href="/public/stylesheets/otros.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.ico.html"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"></script>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/popper.js/dist/umd/popper.min.js"></script>
    <title>Recuperar contraseña en Geekshub travels</title>
</head>
<body>
{{> navbar }}
<div id="pagina">
    <section class="acceso" id="accesoRecuperarPassword">
        <div class="container">
            <div class="registro">
                <div class="signup-form-container">
                    <h1>Tu contraseña ha sido modificada, puedes entrar de nuevo en la web de GeeksHubs Travels</h1>

                    <form class="" action="/" method="get">
                        <button type="submit" class="btn btn-Home"><i class="fas fa-home"></i>   Inicio</button>
                        <button type="button" class="btn btn-Contacto"><i class="fas fa-envelope"></i>   Contacto</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
{{> footer }}

</body>
</html>
