<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>GeeksHubs Travels</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/mainStyle.css' />
</head>
<body>
<section id="navigationbar">
    <nav class="navbar" id="fullNav">
        <a class="navbar-brand col" href="/">
            <div class="row">
                <div class="col" id="logoImagen"></div>
                <div class="col" id="logoTexto">GeeksHubs Travels</div>
            </div>
        </a>
        <div class="nav-item col-6 text-center" id="navbarList">
            <div class="row" id="anchorLinks">
                <div class="col">
                    <div class="anchorwrapper">
                        <a class="nav-link" href="#destinos" id="anchor1">Destinos</a>
                    </div>
                </div>
                <div class="col">
                    <div class="anchorwrapper">
                        <a class="nav-link" href="#nosotros" id="anchor2">Quiénes somos</a>
                    </div>
                </div>
                <div class="col">
                    <div class="anchorwrapper">
                        <a class="nav-link" href="#mapa" id="anchor3">Dónde estamos</a>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <a class="nav-link text-right" href="/register">Sign up</a>
                        </div>
                        <div class="col">
                            <a class="nav-link text-left" href="/login"">Log in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>
    <section id="inicio" class="parallax--bg">
        <div id="gridprincipal" class="container-fluid">
            <link rel='stylesheet' href='/stylesheets/signup.css'/>
            <form action="" id="signUp">
                <div id="registerCard" class="container-fluid">
                    <h1>Regístrate</h1>
                    <p>Rellena los campos para crearte una cuenta</p>
                    <div id="hr"><hr></div>

                    <label for="username"><b>Nombre de usuario</b></label>
                    <input type="text" placeholder="Usuario" name="username" required>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="ejemplo@ejemplo.com" name="email" required>

                    <label for="psw"><b>Contraseña</b></label>
                    <input type="password" placeholder="Introducir contraseña" name="psw" required>

                    <label for="psw-repeat"><b>Repetir contraseña</b></label>
                    <input type="password" placeholder="Reintroducir contraseña" name="psw-repeat" required>

                    <label>
                        <input type="checkbox" checked="checked" name="rememberMe" style="margin-bottom:15px"> Remember me
                    </label>

                    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                    <div class="clearfix">
                        <div class="row">
                            <button type="button" class="cancelbtn col">Cancel</button>
                            <button type="submit" class="signupbtn col">Sign Up</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="col">
                <div class="footerTitle">¿Necesitas ayuda?</div>
                <ul id="Ayuda">
                    <li>123456789</li>
                    <li><a href="mailto:">travel@geekstravels.com</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="row">
                    <div class="footerTitle col">Información</div>
                </div>
                <div class="row">
                    <div class="col">
                        <ul class="linksAyuda">
                            <li><a href="">Quienes somos</a></li>
                            <li><a href="">Preguntas frecuentes</a></li>
                            <li><a href="">Política de privacidad</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="linksAyuda">
                            <li><a href="">Condiciones generales</a></li>
                            <li><a href="">Aviso legal</a></li>
                            <li><a href="">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="footerTitle">Suscríbete a la newsletter</div>
                <form action="">
                    <input type="email" placeholder="email" id="sendEmail">
                    <br>
                    <button class="btn btn-outline-light">Enviar</button>
                </form>
            </div>
        </div>
        <div id="footerRow" class="row">
            <hr>
            <div class="col">
                <div  id="redesSociales">
                    <ul>
                        <li class="nav-item">
                            <div id="tw"><a href=""></a></div>
                        </li>
                        <li class="nav-item">
                            <div id="wp"><a href=""></a></div>
                        </li>
                        <li class="nav-item">
                            <div id="fb"><a href=""></a></div>
                        </li>
                        <li class="nav-item">
                            <div id="ig"><a href=""></a></div>
                        </li>
                        <li class="nav-item">
                            <div id="lk"><a href=""></a></div>
                        </li>
                        <li class="nav-item">
                            <div id="yt"><a href=""></a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../javascripts/main.js"></script>
    <script src="../javascripts/parallaxInicio.js"></script>
</body>
</html>