<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>GeeksHubs Travels</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/mainStyle.css' />
</head>
<body>
<section id="navigationbar">
    {{> navbar}}
</section>
<section id="inicio" class="parallax--bg">
    <div id="gridprincipal" class="container-fluid">
        <link rel='stylesheet' href='/stylesheets/signup.css'/>
        <form name="form" id="signUp" method="post">
            <div id="registerCard" class="container-fluid">
                <h1>Regístrate</h1>
                <p>Rellena los campos para crearte una cuenta</p>
                <div id="hr"><hr></div>

                <label for="username" class="formLabels"><h3>Nombre de usuario</h3></label>
                <input type="text" placeholder="Usuario" name="username">

                <label for="email" class="formLabels"><h3>Email</h3></label>
                <input type="text" placeholder="ejemplo@correo.com" name="email">

                <label for="password" class="formLabels"><h3>Contraseña</h3></label>
                <input type="password" id="password" placeholder="Introducir contraseña" name="password">

                <label for="password-repeat" class="formLabels"><h3>Repetir contraseña</h3></label>
                <input type="password" placeholder="Repetir contraseña" name="passwordconfirm">

                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                <div class="clearfix">
                    <div class="row">
                        <button type="button" class="cancelbtn col" onclick="relocateHome()">Cancel</button>
                        <button type="submit" class="signupbtn col">Sign Up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<footer>
    {{> footer}}
</footer>

<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script src="../javascripts/register.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../javascripts/main.js"></script>
</body>
</html>