<div class="row" id="rowNos">
    <div class="col">
        <div id="presentacion">
            <h2>GeeksHubs Travels es una agencia de viajes online creada en 2009 por un equipo de viajeros entusiasta que deciden hacer de
                su pasión por conocer el mundo un modo de vida.
                <br>
                Desde nuestros inicios hemos diseñado mas de 500 viajes organizados
                a diferentes destinos de Europa, Norteamérica y Asia. Nuestro objetivo ahora es ir ampliando horizontes poco a poco.
            </h2>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div id="mapa">
                <iframe frameborder="1"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.4500517172332!2d-0.3581286858955122!3d39.48175111989444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604898947abad3%3A0x5aae0e0b7fa0358a!2sGeeksHubs+Space+Valencia!5e0!3m2!1ses!2ses!4v1519747880891">
                </iframe>
            </div>
        </div>
        <div class="row">
            <section id="contacto">
                <div class="wrapper">
                    <div class="container">
                        <div class="row">
                            <div id="datosContacto" class="col">
                                <div>
                                    <p>Email: <a href="mailto:travel@geekstravels.com">travel@geekstravels.com</a>
                                        <br>
                                        <br>
                                        Llámanos o manda un email cuando quieras, intentaremos responderte antes de 24 horas en días laborables.
                                        <br>
                                        Abrimos de lunes a viernes 10:00 a 14:00 y de 17:00 a 21:00. Los sábados puedes encontrarnos de
                                        10:00 a 14:00
                                    </p>
                                </div>
                            </div>
                            <div id="formulario" class="col">
                                <form>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" placeholder="Nombre">
                                        </div>
                                        <div class="col">
                                            <input type="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="text" placeholder="Teléfono">
                                        </div>
                                        <div class="col">
                                            <input type="text" placeholder="País">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <textarea title="areaForm" class="form-control" cols="60" rows="5"></textarea>
                                        </div>
                                    </div>
                                    <div>
                                        <button class="btn btn-outline-secondary" id="enviarForm">Enviar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>